<!doctype html>
<html>
<body>
{% block body %}
  <h1>Welcome to the (family) 2018 Secret Santa Site!</h1>
  <p>First off, who are you?
    <select id='userSelect'>
      {% for user in users %}
      <option value="{{ user }}">{{ user }}</option>
      {% endfor %}
    </select>
  </p>
  <p>Enter any special instructions for your Secret Santa below:<br>
    <textarea rows="4" columns="50" id='christmasRequest' placeholder="For Secret Santa I really want..."></textarea><br>
    <input type='button' id='submitRequest' value='Submit'>
  </p>
{% endblock %}
</body>
<script src="{{ url_for('static', filename='js/main_page.js') }}"></script>
</html>
